@charset "UTF-8";

body{
    background-image: url(https://img.pikbest.com/backgrounds/20200512/abstract-black-background-with-square-purple-and-blue-frame-luxury-futuristic-technology-v_1761876jpg!w700wp);
    background-repeat: no-repeat;
    background-size: 100%;
    color: antiquewhite;
    text-align: center;
    font-size: 30px;
}

h1{
    color: gold;
}

h2{
    color: chocolate;
}

img.img1{
    width: 500px;
    margin-top: 70px;
}

img.img2{
    width: 500px;
    height: 280px;
}

input{
    width: 100px;
    height: 50px;
    font-size: 17px;
    color: #000000;
    background-color: #afafaf;
}

footer{
    color: red;
}